- id: ad3f20d8-f504-47c1-8f11-25992a079f1d
  alias: Sonos Night Mode On (23:00)
  description: Enables Sonos Night Mode between 23:00 and 08:00
  trigger:
  - trigger: state
    entity_id:
    - media_player.living_room_2
    from: idle
    to: playing
  condition:
  - condition: time
    after: '23:00:00'
    before: 08:00:00
  action:
  - action: switch.turn_on
    target:
      entity_id: switch.living_room_night_sound
    data: {}
  mode: single
- id: 44884a77-c01e-42fd-a70b-59882eb345a0
  alias: Sonos Night Mode Off (08:00)
  description: Disables Sonos Night Mode between 08:00 and 23:00
  trigger:
  - trigger: state
    entity_id:
    - media_player.living_room_2
    from: idle
    to: playing
  condition:
  - condition: time
    after: 08:00:00
    before: '23:00:00'
  action:
  - action: switch.turn_off
    target:
      entity_id: switch.living_room_night_sound
    data: {}
  mode: single