homeassistant:
  name: Home
  internal_url: !secret internal_url
  # external_url: !secret external_url
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 100
  unit_system: metric
  time_zone: Europe/London
  currency: GBP
  country: GB

  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 10.20.0.0/24
        - 10.20.1.0/24

  customize: !include customize.yaml

zone:
  - name: Home
    latitude: !secret latitude
    longitude: !secret longitude
    radius: 35
    icon: mdi:account-multiple
  - name: Ana
    latitude: !secret ana_lat
    longitude: !secret ana_long
    radius: 35
    icon: mdi:account-multiple

lovelace:
  mode: storage

default_config:

http:
  cors_allowed_origins:
    - !secret internal_url
    - !secret external_url
  server_host: 0.0.0.0
  ip_ban_enabled: false
  login_attempts_threshold: 5
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.42.0.0/16
    - 127.0.0.1
    - ::1

recorder:
  auto_purge: true
  auto_repack: true
  purge_keep_days: 30
  db_url: !env_var HASS_POSTGRES_URL
  include:
    entities:
      - binary_sensor.reolink_video_doorbell_poe_visitor # bell press
  exclude:
    domains:
      - event
      - weather
    entities:
      - sensor.date
      - sensor.time
    entity_globs:
      - binary_sensor.reolink_* # motion events
      - binary_sensor.*_mmwave
      - binary_sensor.*_pir
      - switch.remote_button_*
      - sensor.openweathermap_*
      - sensor.moonraker_toolhead_position_*
      - sensor.moonraker_slicer_*
      - sensor.moonraker_print_*
      - sensor.bermuda_*
      - sensor.heating_local_*

logbook:

system_health:

logger:
  default: error
  logs:
    homeassistant.components.androidtv.media_player: info

frontend:
  themes: !include_dir_merge_named themes

config:

history:

sun:

#group: !include groups.yaml # Moved to light-groups.yaml
automation: !include automations.yaml
input_boolean: !include booleans.yaml
input_number: !include numbers.yaml
light: !include light-groups.yaml
mqtt: !include mqtt.yaml
sensor: !include sensors.yaml
scene: !include scenes.yaml
template: !include templates.yaml

timer:
  heating_boost_duration:
    name: Boost remaining
    duration: 254

alexa:
  smart_home:
    locale: en-GB
    endpoint: https://api.eu.amazonalexa.com/v3/events
    client_id: !secret alexa_client_id
    client_secret: !secret alexa_client_secret
    filter:
      include_domains:
        - light
        - scene
      include_entities:
        - climate.heating_proxy
        - climate.midea_ac_42880953513406
        - group.bedroom_group
        - group.diningroom_group
        - group.kitchen_group
        - group.office_group
        - group.lounge_group
        - sensor.bedroom_temperature_humidity_temperature
        - sensor.ep1_01_7f753c_temperature
        - sensor.ep1_02_dac9c4_temperature
        - switch.sonoff_s26_1_relay
        - switch.sonoff_s26_2_relay
      exclude_domains:
        - climate
      exclude_entity_globs:
        - light.ep1_*
        - light.*_segment_*
    entity_config:
      group.office_lights:
        display_categories: LIGHT

energy:

alarm_control_panel:
  - platform: manual
    name: Alarm Panel
    code: !secret alarm_code
    arming_time: 20
    delay_time: 60
    trigger_time: 4
    disarmed:
      trigger_time: 0
    armed_home:
      arming_time: 0
      delay_time: 0

waste_collection_schedule:
  sources:
    - name: bathnes_gov_uk
      args:
        uprn: !secret uprn

sonos:
  media_player:
    advertise_addr: 10.20.0.126
    hosts:
      - 10.20.0.175